*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
    $color-primary: red;
    $color-secondary: blue;
    $color-tertiary: green;
    $font-size:rem(15);
body{
    height:100vh;
}
section{
    display: flex;
}
@function rem($px){
    @return ($px/16)*1rem
};
@mixin article-card($color,$border-color,$font-size:24px){
    color:$color;
    border: solid rem(1) $border-color;
    font-size:$font-size;
}
div{
    display: flex;
    align-items:center;
    flex-direction: column;
    text-align: center;
    border: solid rem(1) $color-primary;
    height:50%;
    margin:rem(10);
    h1{
        color:$color-tertiary;
        text-decoration: underline;
    }
    h2{
        @extend h1;
        padding:rem(16);
        border: solid rem(1) $color-primary;
        width: 50%;
        text-decoration: none;
    }
}
section{
    margin-left:rem(10);
    margin-right:rem(10);
}
article{
       &:nth-child(odd){
        @include article-card($color-secondary, $color-tertiary,$font-size);
       }
        &:nth-child(even){
            @include article-card($color-primary,$color-tertiary,$font-size);
        }
    }

    section:last-child article:last-child{
        @include article-card($color-tertiary,$color-secondary,$font-size);
    }


section:last-child article:last-child{
    margin-top:rem(30);
    height:rem(60);
    width:100%;
    p{
        margin-top:rem(10);
    }
}
